<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>q-note</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="header">
        <h1 class="nav-item login" onclick="window.location.href='/'">Назад</h1>
    </header>
    <!-- <form action="/update-note?id={{note.0.0}}" method="POST"> -->
    <main class="main m-note">
        <!-- <h1 class="title">Редагувати нотатку</h1> -->
        <form action="/update-note?id={{note.0.0}}" method="POST" class="form">
            <input type="text" autocomplete="off" value="{{note.0.1}}" name="title" class="inp" required="yes">
            <textarea name="text" placeholder="..." cols="30" rows="15" autocomplete="off" class="inp area">{{note.0.2}}</textarea>
            <input type="submit" value="Готово" class="submit">
        </form>
        <h1 class="nav-item del" onclick="window.location.href='/delete-note?id={{ note.0.0 }}'">Видалити</h1>
    </main>
    <!-- </form> -->
    <script>

    </script>
</body>

</html>